@tailwind base;
@tailwind components;
@tailwind utilities;

@import './fonts/space-grotesk/index';

body {
  position: relative;
  color: #fff;
  background: #000;
  font-family: 'Space Grotesk';
}

:root {
  --m-clr-bg-orange: #F0500E;
  --m-clr-text-orange: #F98306;
}

.m-link {
  color: #fff;

  &:hover {
    color: var(--m-clr-text-orange);
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--m-clr-text-orange);
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100px;
}

.backdrop {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    ;
  }
}

.backdrop-left {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 160px;
    background: linear-gradient(90deg, #07030E 3.57%, rgba(7, 3, 14, 0) 100%);
    z-index: 30;
  }
}

.btn-white {
  background: white;
  color: black;
  border-radius: 6px;
  font-weight: 700;
  padding-top: 13px;
  padding-bottom: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.btn-cta {
  background: linear-gradient(86.03deg, #E71A16 4.07%, #FC9303 79.02%);
  border-radius: 6px;
  padding-top: 13px;
  padding-bottom: 13px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}

.btn-cta-second {
  position: relative;
  background: linear-gradient(86.03deg, #E71A16 4.07%, #FC9303 79.02%);
  border-radius: 6px;
  padding-top: 13px;
  padding-bottom: 13px;
  text-transform: uppercase;
  color: var(--m-clr-text-orange);
  font-weight: 700;

  &:after {
    content: '';
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background: #000;
    border-radius: 6px;
  }
}


.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1
}

.swiper-vertical>.swiper-wrapper {
  flex-direction: column
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.text-highlight {
  background: linear-gradient(86.03deg, #FF1100 4.07%, #FC7B03 79.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}