.slide-wrapper {
  :global(.swiper-top) {
    overflow: visible;
    clip-path: polygon(100px 0%, 99999px 0%, 148% 333333px, 100px 99999px);
  }

  @media screen and (max-width: 1023px) {
    :global(.swiper-top) {
      overflow: visible;
      clip-path: polygon(250px 0%, 99999px 0%, 148% 333333px, 250px 99999px);
    }
  }

  :global(.swiper-bottom) {
    overflow: visible;
    // clip-path: polygon(100px 0%, 99999px 0%, 148% 333333px, 100px 99999px);
    clip-path: path("M 0 293 L 0,0 A 1,1 1,1,1 2150,196 L 195 552 z");
  }
}